.footer {
  background-color: rgb(44, 44, 44);
  width: 100%;
  height: 90px;
  position: relative;
  margin-top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: pointer;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.web{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.icon {
  padding: 5px 5px;
  font-size: 20px;
  border-radius: 100px;
  border: 1px solid white;
  margin-right: 10px;
}
.location{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}